.like-button,
.dislike-button {
  font-size: 1rem;
  padding: 5px 10px;
  color: #585858;
  border: none;
  background: none;
  cursor: pointer;
}

.liked,
.disliked {
  font-weight: bold;
  color: #1565c0;
}
