.card {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #c1c1c1;
  margin: 0 auto;
  max-width: 50vw;
}

.img {
  height: 250px;
}

h3 {
  margin-bottom: 5px;
  height: 40px;
}

p {
  margin: 0px;
  height: 30px;
}

.skeleton-loader {
  background: lightgray;
  overflow: hidden;
  position: relative;

  margin-bottom: 8px;
}

.skeleton-loader::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  transform: translateX(-100%);
  animation: skeleton-loader 1s infinite;
}

@keyframes skeleton-loader {
  100% {
    transform: translateX(100%);
  }
}
