* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #464545;
}

.traffic-light {
  background-color: black;
  padding: 20px;
  display: flex;
  width: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.light {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  background-color: #333;
}

.light.on {
  box-shadow: 0 0 15px 10px;
}

.red.on {
  background-color: red;
}

.yellow.on {
  background-color: yellow;
}

.green.on {
  background-color: green;
}

.toggle-button,
.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: grey;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  width: 100px;
  height: 42px;
}
