.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 400px;
}

.arrow {
  position: absolute;
  z-index: 1;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}


.slide {
  position: absolute;
  opacity: 0;
}

.slide-active {
  position: relative;
  opacity: 1;
}

.indicators {
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}