@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');

*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-weight: normal;
  margin: 5px 0 10px;
}

.main {
  padding: 15px;
}

.tree-container {
  margin-left: 30px;
}

