.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.square {
  width: 200px;
  height: 200px;
  float: left;
  font-size: 75px;
}

.status {
  font-size: 70px;
  color: blue;
  margin-bottom: 10px;
}

.resetGame {
  margin-top: 15px;
  padding: 15px;
  background-color: lightcoral;
  border-radius: 28px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 48px;
}
